[credential]
	helper = store
	UseHttpPath = true
[user]
	name = knnan
	email = 28503456+knnan@users.noreply.github.com
[diff]
	tool = smerge
[difftool]
	prompt = false
[alias]
	parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
	sts = status
	ch = checkout
	chb = checkout -b
	ls= log --oneline -n 10
	delta = !git diff | delta --features side-by-side
[includeIf "gitdir:~/Development/work_code/PCLOUDY/"]
	path = ~/.gitconfig-work
