QTabWidget::pane > QWidget {
  background-color: #090a10;
}

QTabWidget::tab-bar {
  background-color: #090a10;
  padding:10px;
}

QTabBar::tab {
  padding:5px;
  color: #1c4642;
  background-color: #090a10;
  font-family: Iosevka;
  font-size: 13px;
}

QTabBar::tab:selected,
QTabBar::tab:hover {
  color: #70ce8e;
  font-family: Iosevka;
  font-size: 13px;
  font-weight: bold
}
}
